body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: yellow;
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: yellow;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 2.5s;
    width: 500px;
    text-align: center;
}

h1 {
    color: blue;
}

#submit{
	border: none;
	background-color: rgb(107, 8, 66);
	color: rgb(247, 246, 246);
	width: 100px;
	margin-top: 10px;
	border-radius: 7px;
}
#submit:hover{
	background-color: #e4aad7;
}
